
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

#cmykBODY {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 244, 227);

    font-size: 12pt;
}
#cmykBODY .text {
    padding-top: 0;
}
#cmykBODY p {
    text-indent: 5vw;
}
#cmykBODY br {
    text-indent: 5vw;
}
#landingBODY {
    height: 100vh;
    width: 100vw;

    background-color: black;
    color: white;

    display: flex;
    flex: auto;

    align-items: center;
    justify-content: center;

    padding: 5vw;
    text-align: center;

    /* border: 5px solid red; */
}
#rgbBODY {
    font-family: Arial, Helvetica, sans-serif;
    color: greenyellow;
    background-color: black;
}
#rgbBODY h2{
    color: white;

}

.colorAS {
    text-align: center;

    margin: 3vw;
    font-size: 12px;
    text-indent: 0vw;
    /* padding-left: 5vw; */
}

/* br {

    line-height: 200%;
} */
p {
    font-size: 12pt;
}
h2 {
    color: black;

    transition: .3s;
    font-size: 30px;
    padding: 1.5%;
}
a {
    transition: .5s;
    /* text-decoration: none; */

}
a:hover {
    font-size: 21pt;
}

.text {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    
    /* width: 80%; */
    align-self: center;

    transition: .3s;

    column-count: 4;
    column-gap: 2vh;

}
.text2{
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    
    width: 80%;
    align-self: center;

    transition: .3s;
}

.colorBlock {
    display: flex;
    flex-direction: column;
    /* height: 50vh; */
}
.container {
    /* height: 100vh; */
    /* background-color: rgb(122, 25, 25); */

    font-size: 55pt;

    display: flex;
    flex-direction: column;

    /* height: 70vh; */
/* 
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center; */

    /* border: 2px solid red;  */
        /* Add a red border for visibility */

}
.containerLinks {
    width: 100vw;
    display: flex;
    flex-direction: row;

    text-align: justify;
    justify-content: space-between;
    padding: 2vw;
}
#cmykA{
    color: #000;
}
#cmykA:visited {
    color: #000;
}
#rgbA {
    color: blue;
}
#rgbA:visited {
    color: blue;
}

.ballBox {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    /* border: 1px solid red; */

    display: flex;
    justify-content: center;
    transform-origin: left;
    transition: .5s;
}
/* .ballBox:hover {
    transform-origin: right;
} */
.ball {
    width: 3vh;
    height: 3vh;
    background-color: #000;
    border-radius: 50%;
    transition: .5s;
}
#box {
    border-radius: 0%;
    background-color: white;
}

.colors {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;

    margin: 2vh;
}
.colorAS {
    font-size: 10vw;
}
#rgbAS {
    color: white;
}

#cmyk {
    background-color: blue;
    /* border-radius: 50%;
    width: 25 vh;
    height: 25 vh; */
}

.colorcircle {
    background-color: blue;
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    padding: 5vw;
}

.circle {
    width: 25vw;
    height: 25vw;
    padding: 5vw;
    border-radius: 50%;
    /* background-color: black;  */
    /* Initial color */
    align-self: center;
    /* border: 1px solid black; */


    
    /* position: relative; */
    /* width: 300px;
    height: 300px; */
    /* background-color: #000;  */
        /* Background color for the dots */
}
#newCircle {
    background-color: black;
    border-radius: 0%;
    
}

.buttons {
    text-align: center;
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
    width: 15vw;
    margin: 5vw;
}

button {
    border: none;
    text-align: center;
    align-items: center;
    
    /* line-height: 3rem; */
    margin: auto;
    padding: 5%;
}
.buttC {
    width: 10vw;
    height: 10vw;
    /* background-color: rgb(58, 146, 146); */
    /* margin: 2vw; */
    /* margin: -3vh;
    margin-left: 3vw;
    margin-right: 3vw; */

    margin: -3vh;

    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-content: center;

    justify-content: center;

    border-radius: 50%;

    mix-blend-mode: multiply;
    transition: .3s;


    /* flex-grow: 2; */
}
.buttC:hover {
    /* flex-grow: 2; */
}
#addCyan {
    background-color: rgb(0, 255, 255);
}
#addMagenta {
    background-color: rgb(255, 0, 255);
}
#addYellow {
    background-color: rgb(255, 255, 0);
}
#addBlack {
    background-color: rgb(0, 0, 0);
    color: white;
}
#subtractCyan {
    background-color: rgb(205, 255, 255);
}
#subtractMagenta {
    background-color: rgb(255, 201, 255);
}
#subtractYellow {
    background-color: rgb(255, 255, 199);
}
#subtractBlack {
    background-color: rgb(219, 219, 219);
}

.landingButt {
    border: 1px solid white;
    background-color: #000;
    color: white;

    transition: .3s;
}
.landingButt:hover {
    background-color: white;
    color: black;
}
#notLink {
    border: 0px;
    background-color: #000;
    color: white;
}


.buttR {
    width: 40vw;
    height: 7vw;
    margin: 5vw;

    /* border: 2px solid white; */

    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;

    justify-content: center;
}
#addRed {
    background-color: rgb(255, 0, 0);
}
#subtractRed {
    background-color: rgb(255, 200, 200);
}
#addGreen {
    background-color: rgb(0, 255, 0);
}
#subtractGreen {
    background-color: rgb(200, 255, 200);
}
#addBlue {
    background-color: rgb(0, 0, 255);
}
#subtractBlue {
    background-color: rgb(200, 200, 255);
}


#screenp {
    margin-top: 0;
}
#pixels {
    margin: 0;
    height: 60vh;
}
#rGB {
    margin: 0;
    padding-bottom: 3vh;
}




input {
    width: 100%;
    font-size: 8vw;
}
.colorInput {
    width: 13%;
    text-align: center;
    border: 0px solid black;
    background-color: rgb(255, 251, 246);

    font-family: 'Times New Roman', Times, serif;
}
.colorInputR {
    width: 15%;
    text-align: center;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: white;

    background-color: rgb(50, 50, 50);

    font-family: Arial, Helvetica, sans-serif;
}



/* .halftone-filter {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #000; 
} */

/* .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff; 
        Dot color
    border-radius: 50%; 
}  */


#splash {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #000000;

    display: flex;
}
#splash p {
    padding-top: 30vw;
    font-size: 50%;
}
#splashC {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(255, 244, 227);

    display: flex;
}
#splashC p {
    padding-top: 30vw;
    font-size: 50%;
}
#rSplashButt {
    color: yellowgreen;
    background-color: black;
    border: 1px solid yellowgreen;
}
#rSplashButt:hover {
    color: black;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
}
#cSplashButt {
    color: black;
    background-color: rgb(255, 244, 227);
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
}
#cSplashButt:hover {
    color: rgb(255, 244, 227);
    background-color: black;
    border: 1px solid black;
}


@media only screen and (max-width: 600px)
    {

        h2 {
            font-size: 40px;
        }

        .text {
            width: 100%;
            padding-left: 8%;
            padding-right: 8%;
            padding-top: 4%;
            padding-bottom: 4%;
        }

        .colorInputR {
            margin: 1%;
        }

        .buttC {
            margin: -1vh;
            font-size: 8pt;
            margin-left: 3vh;
            margin-right: 3vh;
            
            width: 15vw;
            height: 15vw;
        }
        
        .colorBlock {
            height: auto;
        }

        .text {
            padding-left: 4vw;
            padding-right: 4vw;
            padding-top: 2vh;
            padding-bottom: 2vh;
            
            column-count: 2;
            column-gap: 2vh;

            height: auto;
        
        }

        .circle {
            width: 40vw;
            height: 40vw;
            padding: 5vw;
        }

        .containerLinks {
            width: 100vw;
            display: flex;
            flex-direction: row;

            text-align: justify;
            justify-content: space-between;
            padding: 4vw;
        }

    }